body{
  background: linear-gradient(117.37deg, #FD6769 -11.41%, #FFE815 113.41%);

}

.btn-addCode{
  margin-top: 10px;

}
.mt{
  margin-top: 10px;

}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.base-timer {
  position: relative;
  width: 100px;
  height: 100px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}

.countdown-container {
  width: 100px;
  height: 100px;
  position: relative;
}

.countdown-animation {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
  transform-origin: center;
}

.base-timer__path-remaining {
  stroke-width: 7px;

  
  stroke-linecap: round;

  
  transform: rotate(90deg);
  transform-origin: center;

 
  transition: 1s linear all;

  
  stroke: currentColor;
}

.base-timer__svg {
  /* Flips the svg and makes the animation to move left-to-right */
  transform: scaleX(-1);
}
.value{
  text-align: center;
}
